html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FAF7F0;
}
.navbar {
    background-color: #4A4947;
    border: solid 1px black;
}
.jumbotron {
    background-color: #D8D2C2;
    border: solid 1px black;
}
.footer {
    background-color: #4A4947;


}
.card {
    background-color: dimgray;
    border: solid 1px black;
}